# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.terraform.lock.*

node_modules

solidity/truffle_output
solidity/yarn-error.log
solidity/cache
solidity/out
solidity/conf.json
solidity/build
solidity/truffle-config.js

_backup

nftdata/generated/nftCids.json
